# App
PORT=3000
NODE_ENV=development

# Mongo
MONGO_USER=youapp
MONGO_PASS=youapp123
MONGO_DB=youapp
MONGO_URI=mongodb://youapp:youapp123@mongo:27017/youapp?authSource=admin

# JWT
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=1d

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_QUEUE=message.created